<h3 class="title"><%= l(:title_add_comment) %></h3>

<%= form_tag(add_comment_knowledgebase_article_path(@article_id, project_id: @project), :id => "add_comment_form") do %>
  <div class="box">
      <%= text_area 'comment', 'comments', :cols => 80, :rows => 15, :class => 'wiki-edit' %>    
  </div>
  <p><%= submit_tag l(:button_add) %></p>
<% end %>
